assignment_1/group_19.zip
/assignment_2/data
/assignment_2/.ipynb_checkpoints
/assignment_2/dlvc/__pycache__
/assignment_2/dlvc/models/.ipynb_checkpoints
/assignment_2/dlvc/models/__pycache__
/assignment_2/dlvc/dataset/__pycache__
/assignment_2/wandb
/assignment_2/dlvc/.ipynb_checkpoints
/assignment_2/dlvc/dataset/.ipynb_checkpoints
/assignment_2/saved_models
